@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: var(--color-secondary-black);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-green: #4d8b55;
    --color-secondary-black: #151515;
    --font-jost: "Jost", "serif";
    --font-poppins: "Poppins", "sans-serif";
}

@layer components {
    .icon {
        @apply text-primary-green border-primary-green box-content cursor-pointer rounded-full border-2 p-2 text-base transition hover:border-white hover:text-white;
    }

    .input {
        @apply peer border-secondary-black border-t-secondary-black font-jost text-secondary-black placeholder-shown:border-secondary-black placeholder-shown:border-t-secondary-black focus:border-primary-green h-full w-full rounded-md border bg-transparent px-3 py-3 outline outline-0 transition-all placeholder-shown:border focus:border-2 focus:border-t-transparent focus:outline-0;
    }

    .label {
        @apply before:content[' '] after:content[' '] pointer-events-none absolute left-0 -top-1.5 flex h-full w-full select-none text-[11px] font-jost leading-tight transition-all before:pointer-events-none before:mt-[6.5px] before:mr-1 before:box-border before:block before:h-1.5 before:w-2.5 before:rounded-tl-md before:border-t before:border-l before:border-secondary-black before:transition-all after:pointer-events-none after:mt-[6.5px] after:ml-1 after:box-border after:block after:h-1.5 after:w-2.5 after:flex-grow after:rounded-tr-md after:border-t after:border-r after:border-secondary-black after:transition-all peer-placeholder-shown:text-sm peer-placeholder-shown:leading-[4.1] peer-placeholder-shown:text-secondary-black peer-placeholder-shown:before:border-transparent peer-placeholder-shown:after:border-transparent peer-focus:text-[11px] peer-focus:leading-tight peer-focus:text-primary-green peer-focus:before:border-t-2 peer-focus:before:border-l-2 peer-focus:before:!border-primary-green peer-focus:after:border-t-2 peer-focus:after:border-r-2 peer-focus:after:!border-primary-green";
    }
}

body {
    font-family: var(--font-jost);
    font-family: var(--font-poppins);
    background: var(--background);
    color: var(--foreground);
}
