@import "tailwindcss";

:root {
    --background: #ffffff;
    --foreground: var(--color-secondary-black);
}

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-primary-green: #4d8b55;
    --color-secondary-black: #151515;
    --font-jost: "Jost", "serif";
    --font-poppins: "Poppins", "sans-serif";
}

body {
    font-family: var(--font-jost);
    font-family: var(--font-poppins);
    background: var(--background);
    color: var(--foreground);
}
